<div class="whole_container">
  <div>
    <p class="username">Hello ! {{ username }}</p>
  </div>
  <div class="tasks_container">
    <div class="tasks_list has-background-white">
      <h1 class="title has-text-primary">Lists</h1>
      <div class="list_menu">
        @for(taskset of tasksets; track taskset.taskset_Id ) {

        <a
          class="list_menu_item is-active"
          [routerLink]="['/taskset', taskset.taskset_Id]"
          routerLinkActive="is-active"
        >
          <p>{{ taskset.taskset_name }}</p>
        </a>

        }
      </div>
      <button
        class="button is-primary has-text-white"
        [routerLink]="['/newtask']"
      >
        + New List
      </button>
    </div>
    <div class="todo_list has-background-light">
      <h1 class="title has-text-primary">Tasks</h1>
      @for(task of tasks; track $index){
      <div class="task">
        <p>{{ task }}</p>
      </div>
      }
    </div>
  </div>
</div>
<!-- (click)="refreshComponent(taskset.taskset_Id)" -->
